#root {
  /* max-width: 375px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  box-sizing: border-box;
}
@font-face {
  font-family: 'LINE Seed Sans KR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2')
    format('woff2');
  font-weight: 100;
  font-style: normal;
}
